

div{
    margin: auto;
    margin-bottom: 3px;
}
#redDiv{
    width: 100px;
    background-color: rgba(251, 69, 69, 0.768);
    color: lime;
    border: 3px solid red;
}
#blueDiv{
    width: 100px;
    background-color: rgba(68, 68, 239, 0.844);
    color: darkorange;
    border: 3px solid blue;
}